<h1>ホーム画面</h1>
<div>
  <% @posts.each do |post| %>
    <div>
      <a href="/posts/<%= post.id %>">
        <img src="<%= post.data_url %>" height="200" >
        <p>説明: <%= CGI.escapeHTML(post.description) %></p>
        <p>投稿者のID: <%= CGI.escapeHTML(post.user_id.to_s) %></p>
      </a>
    </div>
  <% end %>
</div>
