<h1>ログイン画面</h1>
<div>
  <form action="/signin" method="post">
    <div>
        <p>アカウント名</p>
        <input name="account_name" placeholder="例: konatsu.nishizawa"><br>
        <p>パスワード</p>
        <input name="password" type="password" placeholder="パスワード"><br>
    </div>
    <div>
      <input type="submit" value="ログイン">
    </div>
  </form>
</div>
